body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

main#body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-image: url('img/SmartPhones_V1.png');
}

/* tablets vertical */
@media only screen and (min-width: 540px) {
    main#body {
        background-image: url('img/Netbook_Tablets_V.png');
    }
}

/* phone and small tablets horizontal */
@media only screen and (orientation: landscape) {
    main#body {
        background-image: url('img/SmartPhones_H_Wide.png');
    }
}

@media only screen and (orientation: landscape) and (max-aspect-ratio: 4/3) {
    main#body {
        background-image: url('img/SmartPhones_H1.png')
    }
}

/* tablets and PCs */
@media only screen and (orientation: landscape) and (min-width: 960px) {
    main#body {
        background-image: url('img/Websites_Desktops.png');
    }
}